h1.has-background, h2.has-background, h3.has-background, h4.has-background, h5.has-background, h6.has-background {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
/*
.wp-block-pascal20997-simple-card {
    border: 1px solid black;
    border-radius: 5px;
}

.wp-block-pascal20997-simple-card-header {
	background: rgba(0,0,0,.03);
    border-bottom: 1px solid #333333;
    overflow: hidden;
}

.wp-block-pascal20997-simple-card-body {
    overflow: hidden;
}

 */
